body {
  margin: 20px;
}

.board {
  background: black;
  display: grid;
  gap: 1rem;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 500px;
  width: 500px;
}

.square {
  background: white;
  border: none;
  cursor: pointer;
  font-size: 6rem;
  outline: none;
}

.square-o {
  color: blue;
}

.square-x {
  color: red;
}